---
import PasswordProtection from '@components/PasswordProtection.astro';

const baseUrl = import.meta.env.BASE_URL;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}favicon.svg`} />
    <link rel="alternate icon" href={`${baseUrl}favicon.ico`} />
  </head>
  <body>
    <PasswordProtection />
    <div id="theme-toggle" class="hidden"></div>
  </body>
</html>

